<% @dish = dish %>

<li id="dish-<%= dish.id %>">
    
<div class="container">
<div class="row">
<div class="contents-wrapper-inner">
  
  <div class="col-md-4 dish-index-content-left">
  <span>
    <%= link_to((image_tag dish.picture.thumb200.url), dish_path(dish.id), class: 'dish-picture') if dish.picture.url.present? %>
  </span>
   <%= render 'users/favorite_form' %>
  </div>

  <div class="col-md-8 dish-index-content-right">
  <span class="dish-name" style="font-size: 23px;"><%= link_to dish.name, dish_path(dish) %></span><br>
  
  <p></p>
  
  <div class="dish-ingredient">

  <p></p>
        <span class="description"><p class="title-ingredient-mini">【料理の説明】</p>
        <%= dish.description %></span><br>
        
        <p class="title-ingredient-mini">【材料】</p>
        <% dish.ingredients.each_with_index do |ing, i| %>
          <% if ing.name.present? %>
            <%= "｜" unless i == 0 %><%= ing.name %>: <%= ing.quantity %>
          <% end %>
        <% end %>
        <p></p>
        <hr>
        <span class="required_time">■所要時間: <%= dish.required_time %>分</span>
   (<span class="reference"><%= link_to "作り方はこちら", dish.reference, target: :_blank %></span>)
  <br>
  <span class="popularity">■人気度: <%= dish.popularity %></span><br>
 
  <span class="timestamp">■<%= time_ago_in_words(dish.created_at) %>前に投稿</span><br>

    <p></p>
    <% if current_user.admin? || (current_user == dish.user) %>
    <%= link_to "削除", dish_path(dish), method: :delete,
                        data: { confirm: "本当に削除しますか？" } %>
  <% end %>

  </div>
</li>
</div>
</div>
</div>
</div>
<hr>